<header class="library-header">
    <div class="container">
        <a class="page-header__logo" href="index.html">
            <svg width="24" height="24">
                <use href="./svg/sprite.svg#icon-logo"></use>
            </svg></a>
        <span class="logo__label"> Filmoteka</span>
        <nav>
            <ul>
                <li><a class="navigation__link navigation__link--active link " href="index.html">HOME</a></li>
                <li><a class="navigation__link navigation__link--active link " href="#"> MY LIBRARY</a></li>
            </ul>
        </nav>
        <button type="button" class="library-header__button">WATCHED</button>
        <button type="button" class="library-header__button">QUEUE</button>
    </div>
</header>