<header class="library-header">
  <div class="container">
    <div class="header-wrapper">
      <a class="page-header__logo" href="index.html">
        <svg width="24" height="24">
          <use href="./svg/sprite.svg#icon-logo"></use></svg></a>
      <span class="logo__label"> Filmoteka</span>
      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation__item">
            <a class="navigation__link link" href="index.html">HOME</a>
          </li>
          <li class="navigation__item">
            <a
              class="navigation__link navigation__link--active link"
              href="library.html"
              >MY LIBRARY</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <button type="button" class="library-header__button">WATCHED</button>
    <button type="button" class="library-header__button">QUEUE</button>
  </div>
</header>
