<div class="backdrop is-hidden" login-modal>
  <div class="modal">
    <button type="button" class="close__btn" login-close>
      <svg width="18px" height="18px">
        <use href="./svg/sprite.svg#icon-close2"></use>
      </svg>
    </button>
    <div class="movie-box">
      <form>
        <label>
          Email
          <input type="email" name="email" class="email" required />
        </label>
        <label>
          Password
          <input type="password" name="password" class="password" required />
        </label>
        <button type="submit" class="sign-in">Sign in</button>
        <button type="submit" class="sign-up">Sign up</button>
      </form>
    </div>
  </div>
</div>
