<div class="backdrop is-hidden" login-modal>
  <div class="modal modal-team modal-login">
    <button type="button" class="close__btn modal__movie-close-btn modal-team__btn" login-close>
      <svg width="18px" height="18px">
        <use href="./svg/sprite.svg#icon-close2"></use>
      </svg>
    </button>
    <div class="movie-box login-wrapper">
      <form>
        <label>
          <input class="search-form__input login-form" type="email" name="email" class="email" required placeholder="Please enter your email"/>
        </label>
        <label>
          <input class="search-form__input login-form" type="password" name="password" class="password" required placeholder="Please enter your password"/>
        </label>
        <button class="navigation__btn navigation__link form__btn" type="submit" class="sign-in">Sign in</button>
        <button class="navigation__btn navigation__link form__btn" type="submit" class="sign-up">Sign up</button>
      </form>
    </div>
</div>
