<div class="backdrop is-hidden" login-modal>
  <div class="modal modal-login">
    <button
      type="button"
      class="close__btn modal__movie-close-btn modal-team__btn modal-login__btn"
    
      login-close
    >
      <svg class="modal-login__icon" width="18px" height="18px">
        <use href="./svg/sprite.svg#icon-close2"></use>
      </svg>
    </button>
    <div class="movie-box login-wrapper">
      <form>
        <label>
          <input
            class="search-form__input login-form email"
            type="email"
            name="email"
            required
            placeholder="Please enter your email"
          />
        </label>
        <label>
          <input
            class="search-form__input login-form password"
            type="password"
            name="password"
            required
            placeholder="Please enter your password"
          />
        </label>
        <button
          class="log-in form__btn sign-in"
          type="submit"
        >
          Sign in
        </button>
        <button
          class="log-in form__btn sign-up"
          type="submit"
        >
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
