<div class="backdrop is-hidden" data-modal-team>
  <div class="modal-team__wrapper">
    <div class="modal-team scroll">
      <button
        type="button"
        class="modal__movie-close-btn modal-team__btn"
        data-modal-team-close
      >
        <svg class="modal-team__icon" width="18px" height="18px">
          <use href="./svg/sprite.svg#icon-close2"></use>
        </svg>
      </button>
      <h2 class="secondary-header animated">Meet Our UniqueTeam</h2>
      <ul class="modal-team__list list">
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/mkabak.png"
              alt="Michał"
              width="120"
              height="60"
            /><img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper">
              <h3 class="modal-team__name">Michał Kabak</h3>
              <p class="modal-team__title">Leader</p>
            </div>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/mjarek.png"
              alt="Michał"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper"></div>
            <h3 class="modal-team__name">Michał Jarek</h3>
            <p class="modal-team__title">Front-End-Dev</p>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/kkrolik.png"
              alt="Kamil"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Kamil"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper">
              <h3 class="modal-team__name">Kamil Królik</h3>
              <p class="modal-team__title">Front-End-Dev</p>
            </div>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/kpasnicki.png"
              alt="Kacper"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Kacper"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper">
              <h3 class="modal-team__name">Kacper Paśnicki</h3>
              <p class="modal-team__title">Front-End-Dev</p>
            </div>
          </div>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/salbinski.png"
              alt="Sławek"
              width="120"
              height="60"
            /><img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Sławek"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper">
              <h3 class="modal-team__name">Sławomir Albiński</h3>
              <p class="modal-team__title">Front-End-Dev</p>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/mgabka.png"
              alt="Gosia"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img modal-team__img--second"
              src="./images/anonymous.png"
              alt="Gosia"
              width="120"
              height="60"
            />
            <div class="modal-team__text-wrapper">
              <h3 class="modal-team__name">Małgorzata Gąbka</h3>
              <p class="modal-team__title">Scrum</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
