<div class="backdrop is-hidden" data-modal-team>
  <div class="modal-team__wrapper">
    <button
      type="button"
      class="modal__movie-close-btn modal-team__btn"
      data-modal-team-close
    >
      <svg class="modal-team__icon" width="18px" height="18px">
        <use href="./svg/sprite.svg#icon-close2"></use>
      </svg>
    </button>
    <div class="modal-team">
      <h2 class="secondary-header">Meet Our UniqueTeam</h2>
      <ul class="modal-team__list list">
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            /><img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Michał Kabak</h3>
          <p class="modal-team__title">Leader</p>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Michał"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Michał Jarek</h3>
          <p class="modal-team__title">Front-End-Dev</p>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/anonymous.png"
              alt="Kamil"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Kamil"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Kamil Królik</h3>
          <p class="modal-team__title">Front-End-Dev</p>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/anonymous.png"
              alt="Kacper"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Kacper"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Kacper Paśnicki</h3>
          <p class="modal-team__title">Front-End-Dev</p>
        </li>
        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/anonymous.png"
              alt="Sławek"
              width="120"
              height="60"
            /><img
              class="modal-team__img"
              src="./images/anonymous.png"
              alt="Sławek"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Sławomir Albiński</h3>
          <p class="modal-team__title">Front-End-Dev</p>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__img-wrapper">
            <img
              class="modal-team__img modal-team__img--first"
              src="./images/mgabka.png"
              alt="Gosia"
              width="120"
              height="60"
            />
            <img
              class="modal-team__img modal-team__img--second"
              src="./images/anonymous.png"
              alt="Gosia"
              width="120"
              height="60"
            />
          </div>
          <h3 class="modal-team__name">Małgorzata Gąbka</h3>
          <p class="modal-team__title">Scrum</p>
        </li>
      </ul>
    </div>
  </div>
</div>
