<main>
  <section class="movie__gallery">

    <div class="container">
      <div class="gallery"></div>
      <div class="pagination_btns"></div>
    </div>

    <!-- Movie card -->

    <!-- <div class="movie-card">
    <!--<img class="movie__img" src="" alt="" loading="lazy" />
    <div class="movie__info">
        <p class="movie__title">
            <span>title</span>
        </p>
        <p class="movie__genre">
            <span>genre</span>
        </p>
        <p class="movie__year">
            <span>year</span>
        </p>
    </div>
</div>-->

  </section>
</main>
