.backdrop {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__movie {
  background-color: white;
  max-width: 882px;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
 
  &-close-btn {
    position: relative;
    top: 10px;
    left: 96%;
    border: transparent;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
  }
  &-btns {
    width: 136px;
    height: 44px;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #ff6b08;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0px 2px 8px #ff6b08;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover,
    &:active {
      background: #ff6b08;
      border-color: #ff6b08;
      color: #ffffff;
    }

    &--wrapper {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 10px;
    }
  }
}

.modal__movie-box {
  max-width: 882px;
  width: 100%;
  background-color: transparent;
  position: relative;
  margin: 30px auto;

  &-separation {
    display: flex;
    padding: 0 30px;
  }
  &-photo {
    width: 100%;
    margin-right: 30px;
  }
  &-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
  }

  &-info {
    max-width: 396px;
    width: 100%;
    padding-bottom: 20px;
    background-color: transparent;
  }

  &-details {
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.modal__movie {
  &-image {
    max-width: 364px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px;
  }
  &-details {
    &-vote {
      padding: 0 5px;
      background-color: #ff6b08;
      border-radius: 5px;
    }
    &-li {
      grid-template-columns: 90px 1fr;
      gap: 18px;
      display: grid;
      margin: 10px 0 10px 0;
    }

    &-label {
      color: #8c8c8c;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.333;
      display: block;
    }
  }
  &-about {
    &-label {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      margin: 20px 0 20px 0;
    }

    &-text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal__movie {
    max-width: 882px;
    width: 100%;

    &-box-photo {
      max-width: 396px;
      width: 100%;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .modal__movie {
    max-width: 618px;
    width: 100%;
    margin-top: 231px;

    &-box-photo {
      max-width: 264px;
      width: 100%;
    }
    &-close-btn {
      left: 94%;
      top: 5px;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .modal__movie {
    max-width: 280px;
    width: 100%;
    margin-top: 20px;
    &-box {
      margin: auto 20px;
      &-photo {
        max-width: 240px;
        width: 100%;
      }
      &-separation {
        display: block;
        padding: 0px;
      }
      &-info {
        padding-left: 0px;
        max-width: 240px;
      }
    }
  }
  .modal__movie-close-btn {
    left: 89%;
    top: 5px;
  }
}
