.secondary-header {
  text-align: center;
  margin-bottom: 30px;
  background-color: $accentColor;
  background-size: cover;
  color: $mainColor;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
}

.modal-team__wrapper {
  margin: 4px auto 30px auto;
  position: relative;
  width: 900px;
}

.modal-team__item {
  margin-bottom: 10px;
  transition: all 500ms ease;

  &:hover {
    transform: scale(1.1);
  }
}
.backdrop.is-hidden .modal-team {
  transform: scale(2);
}

.modal-team {
  position: absolute;
  height: 100%;
  width: calc(100% - 15px);
  min-width: 280px;
  min-height: 600px;
  padding: 50px 20px 30px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  overflow-y: scroll;
  background-color: rgba(6, 6, 6, 0.912);
  box-shadow: 0 1px 3px rgb(255 107 8 / 12%), 0 1px 1px rgb(255 107 8 / 14%),
    0 2px 1px rgb(255 107 8 / 20%);
  border-radius: 6px;
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
  opacity 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.modal-team__btn {
  position: relative;
  fill: $accentColor;
  color: $accentColor;
  justify-items: center;
  display: inline-flex;
  z-index: 1;
  top: 30px;
  right: 30px;
  transition: all 500ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  border-style: dashed;
  border-radius: 50%;
  border-color: $accentColor;

  &:hover,
  &:active {
    fill:$accentColor;
    border-radius: 50%;
    border-style: none;
    border-color: $accentColor;
    color:$mainColor;
  }
}

.modal-team__icon {
  position: relative;
  top: 10%;
}
.modal-team__img-wrapper {
  position: relative;
  margin: 0 auto 5px;
  width: 290px;
  border-radius: 20px;
  align-items: center;
}

.modal-team__img {
  border-radius: 50%;
  margin: 0 auto;
}

.modal-team__img--first {
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 85px;
  opacity: 0;
  transition: all 1000ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.modal-team__text-wrapper{
  margin-top: 5px;
}
.modal-team__name,
.modal-team__title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 5px;
  color: $footerBg;
}

.modal-team__title {
  color: $accentColor;
}

.modal-team__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 480px) {
.modal-team {
    max-width: 280px;
      width: 100%;
  }

  .modal-team__wrapper {
  max-width: 280px;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px){

  .modal-team {
      max-width: 618px;
        width: 100%;
    }
  
    .modal-team__wrapper {
      max-width: 618px;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .modal-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }

  .modal-team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  .modal-team {
    width: 600px;
  }
    .modal-team__wrapper {
      width: 600px;
    }
}

@media screen and (min-width: 1024px) {
  .modal-team__list {
    margin: 10px -30px -30px;
  }

  .modal-team__item {
    width: 230px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  .modal-team {
    width: 900px;
    overflow: hidden;
  }
}

