.page-footer {
  background-color: $footerBg;
  padding: 29px;
  font-size: 14px;
  line-height: 1.142;
  display: flex;
  align-items: center;
  text-align: center;
  color: $inputColor;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__span {
  color: $accentColor;
  text-decoration: underline;
  
}
.footer__text {
  color:$inputColor;
  text-decoration: underline;
  transition: all 500ms;
  

  &:hover{
    transform: scale(1.5);
    color: $accentColor;
  }
}

.top-btn {
 
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 500ms;
  background-color: $accentColor;
  border-radius: 50%;
  border: none;
  color: $mainColor;
  
}
.heart{
  animation: pulsing 3s infinite;
 

}
@keyframes pulsing {
  0% {

    transform: scale(0.5, 0.5);
  }

  50% {

    transform: scale(1, 1);
  }

  100% {

    transform: scale(0.5, 0.5);

  }
}

// .footer__span::before {
//   content: '';
//   color: #aa3939;
//   animation: profile 5s infinite;
// }

// @keyframes profile {
//   0% {
//     content: 'GoIt'
//   }



//   100% {
//     content: 'UniqueTeam'
//   }
// } 