.page-footer {
  background-color: $footerBg;
  padding: 29px;
  font-size: 14px;
  line-height: 1.142;
  display: flex;
  align-items: center;
  text-align: center;
  color: $inputColor;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__span {
  color: $accentColor;
  text-decoration: underline;
}
.footer__text {
  text-decoration: underline;
}

.top-btn {
 
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 500ms;
  background-color: $accentColor;
  border-radius: 50%;
  border: none;
  color: $mainColor;
}