.no-results__wrapper{
    display: none;
}

.no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.eyes {
    -webkit-animation: move 2s forwards infinite;
    animation: move 2s forwards infinite;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(0%);
    }

    20% {
        -webkit-transform: translate(4px, -4px);
    }

    40% {
        -webkit-transform: translate(6px, -4px);
    }

    60% {
        -webkit-transform: translate(12px, 0px);
    }

    80% {
        -webkit-transform: translate(6px, 6px);
    }

    100% {
        -webkit-transform: none;
    }
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translate(4px, -4px);
    }

    40% {
        transform: translate(6px, -4px);
    }

    60% {
        transform: translate(12px, 0px);
    }

    80% {
        transform: translate(6px, 6px);
    }

    100% {
        transform: none;
    }
}


.no-results__text {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 25px;
    font-size: 55px;
    line-height: 1.146;
}

.no-results__link {
    text-decoration: none;
    color: $accentColor;
}

.no-results__link:hover {
    padding: 20px;
    background: $accentColor;
    color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #888888;
}